html {
  font-size: 85%;
}

.page-inner {
  max-width: 720px !important;
}

.katex-html {
  white-space: nowrap;
}

@font-face {
  font-family: EBGaramond;
  src: url(../fonts/EBGaramond-Regular.ttf) format('truetype');
}
@font-face {
  font-family: EBGaramond;
  src: url(../fonts/EBGaramond-Bold.ttf) format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: EBGaramond;
  src: url(../fonts/EBGaramond-Italic.ttf) format('truetype');
  font-style: italic;
}
@font-face {
  font-family: EBGaramond;
  src: url(../fonts/EBGaramond-BoldItalic.ttf) format('truetype');
  font-weight: bold;
  font-style: italic;
}

.book.font-family-0 {
  font-family: EBGaramond, Georgia, serif;
}

.book.font-family-1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.page-wrapper p {
  text-align: justify;
}


/* TOC */

.book .book-summary nav ul.summary h4 {
  font-size: 1.5rem;
  padding-left: 1em;
}


/* Book */

.page-inner h1 {
  font-size: 1.75em !important;
  border-bottom: 1px solid black;
}

.page-inner h2 {
  font-size: 1.5em !important;
}


/* Anchor links */

.book .book-body .page-wrapper .page-inner section.normal {
  overflow: visible !important; /* so anchor link doesn't get cut off */
}

a.anchor {
  float: left;
  margin-left: -30px;
  padding: 0 10px;
  font-style: normal;
  /*display:inline-block;
  width: 30px;
  height: 30px;*/
  /* Icon made by Freepik from www.flaticon.com */
  /*background-image: url(link.png) !important;
  background-repeat: no-repeat !important;
  background-size: 20px 20px !important;
  background-position: center bottom !important;*/
  opacity: 0;
}

/*.book.color-theme-2 a.anchor {
  filter: invert(100%);
}*/

.hasAnchor:hover a.anchor, a.anchor:hover {
  opacity: 1;
}

@media (max-width: 1144px) { /* don't show anchor link on small screens */
  .hasAnchor:hover a.anchor {
    visibility: hidden;
  }
}


/* Custom environments */

.itenv {
  font-style: italic;
  margin: 1em 0;
}
.itenv em {
  font-style: normal !important;
}

.rmenv {
  font-style: normal;
  margin: 1em 0;
}

.itenv:before, .rmenv:before {
  content: attr(title)".";
  font-style: normal;
  font-weight: bold;
  padding-right: 0.5em;
  float: left;
}

.itenv > :first-child, .rmenv > :first-child {
  margin-top: 0 !important;
}

.itenv > :last-child, .rmenv > :last-child {
  margin-bottom: 0 !important;
}

.itenv, .rmenv, .proof {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.itenv:hover, .rmenv:hover, .proof:hover {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}
