.page-inner {
  max-width: 755px !important;
}

@font-face {
  font-family: Merriweather;
  src: url(../fonts/Merriweather-Regular.ttf) format('truetype');
}
@font-face {
  font-family: Merriweather;
  src: url(../fonts/Merriweather-Bold.ttf) format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: Merriweather;
  src: url(../fonts/Merriweather-Italic.ttf) format('truetype');
  font-style: italic;
}

.book.font-family-0 {
  font-family: Merriweather, Georgia, serif;
}

.book.font-family-1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.page-wrapper p {
  text-align: justify;
}


/* TOC */

.book .book-summary nav ul.summary h4 {
  font-size: 1.5rem;
  padding-left: 1em;
}


/* Book */

.page-inner h1 {
  font-size: 1.75em !important;
  border-bottom: 1px solid black;
}

.page-inner h2 {
  font-size: 1.5em !important;
}


/* Custom environments */

.env-title {
  float: left;
  font-style: normal;
  font-weight: bold;
  margin-right: 0.5em;
}

.env-title p {
  display: inline;
}

.env-title p::after {
  content: ".";
}

.itenv {
  font-style: italic;
  margin: 1em 0;
  padding-left: 0.5em;
  border-left: 1px solid gray;
}

.itenv > :first-child {
  margin-top: 0 !important;
}

.itenv > :last-child {
  margin-bottom: 0 !important;
}
